html,
body {
     font-size: 80%;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 0.15em;
     background-color: #B6ABF6;

}

#page {

     max-width: 1500px;
     min-width: 720px;
     padding: 40px 95px 95px 95px;
     border: 1px groove #B6ABF6;
     background-color: #B6ABF6;
}

#logo {
     position: relative;
     right: 210px;
     width: 20px;
     margin: 10px auto 25px auto;
}

#mylogo {
     margin: -40px 0px 2px 33px;
     height: 130px;
     width: 332px;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);





}


li {
     display: inline;
     margin: 0px 3px;

}

ul {
     width: 937px;
     padding: 20px 0px 20px 0px;
     font-size: 13px;
     /* box-shadow: 9px 9px #18EADC; */
     margin: 0pc auto 0px auto;
     color: black;
     background-color: #E3DFFD;
     text-align: center;
     border: 1px solid #000;
     box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1)
}

p {
     text-align: justify;
     width: 600px;
     margin: 20px auto 20px auto;
     font-weight: normal;
}

#descrip {
     text-align: left;
     float: right;
     position: relative;
     top: 70px;
     left: 50px;
     max-width: 800px;
     

}

#text-one {
     float: right;
     text-indent: 10px;
     font-weight: 1.5em;
     font-weight: bold;
     text-transform: none;
     font-size: 15px;
     max-width: 400px;
     
}

a {
     color: black;
     font-weight: bolder;
     text-transform: uppercase;
     text-decoration: none;
     padding: 6px 18px 5px 18px;
     margin: 0px 30px 0px 0px;
}

a:hover,
a.on {
     color: whitesmoke;
     background-color: #8F7DF0;
     border: 1px solid #000;
     border-radius: 10px;
}

.container {
     padding: 40px;
}

.content {
     margin: 21px auto 0px auto;
     padding: 30px;
     width: 885px;
     height: 400px;
     background-color: #E3DFFD;
     /* box-shadow: 9px 9px #18EADC; */
     border: 1px solid #000;
     box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1)
}

.container-wrapper {
     position: relative;
     height: 300px;
}

.slider {
     height: 420px;
     width: 490px;
     display: flex;
     overflow-x: auto;
     scroll-snap-type: x mandatory;
     scroll-behavior: smooth;

     position: relative;
     bottom: 160px;
     right: 49px;
}

.slider img {
     flex: 1 0 100%;
     scroll-snap-align: center;
}

/*
.slider-nav {
     display: flex;
     column-gap: 1rem;
     position: absolute;
     bottom: 1.25em;
     left: 50%;
     z-index: 1;
}

.slider-nav a {
     width: 0.5rem;
     height: 0.5rem;
     border-radius: 50%;
     background-color: #fff;
     opacity: 0.75;
     transition: opacity ease 250ms;
}
*/